.place__paragraph-one {
    grid-area: d;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 1024px) {
    .place__paragraph-one { 
        margin-left: 32px;
    }    
}

@media screen and (max-width: 768px) {
    .place__paragraph-one { 
        margin-left: 28px;
        font-size: 16px;
        line-height: 163%;
    }    
}

@media screen and (max-width: 700px) {
    .place__paragraph-one { 
        margin-left: 5px;
    }    
}

@media screen and (max-width: 540px) {
    .place__paragraph-one { 
        margin-left: 0;
    }  
} 